body {
    text-align: center;
    background-image: url("../img/numbers_background.jpg");
    background-size: cover;
}

header {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 20px solid #00022E;
}

#main {
    background-color: #00022E;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 20px solid brown;
}

#outcome {
    background-color: #00022E;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 20px solid brown;
}

#outcomeImg {
    width: 300px;
    display: inline-block;
}

#questionMark {
    font-size: 300px;
    color: darkorange;
    display: inline-block;
}
